{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.8.1"]
  [re-frame "0.10.6"]
  [re-frisk-remote "0.5.5"]
  ]

 :builds
 {:app
  {:target :react-native
   :init-fn example.app/init
   :output-dir "app"
   :compiler-options {:infer-externs :auto}
   :devtools {:autoload true
              :preloads [shadow.expo.keep-awake]}}}}
